@font-face {
	font-family: sansaction;
	src: url(trench.woff);
}
body {
	font-family: sansaction;
	text-align: center;
	margin: 0px;
	background: #ffffff;
	color: #000000;
}
#header {
	text-align: center;
	background: linear-gradient(white, white, #ffffff);
	background-repeat
}
#navbar {
	background: linear-gradient(to right, #007FFF, #007FFF, #007FFF);
	color: #007FFF;
}
#navbar a {
	text-decoration: none;
	color: #ffffff;
	padding: 8px;
}
#navbar li {
	display: inline-block;
	padding: 8px;
}
#navbar a:hover {
	background-color: rgba(204, 232, 255, 0.5);
	color: #228B22;
	border-radius: 4px;
}
#navbar a:active {
	background-color: r
