@font-face {
	font-family: trench100;
	src: url(trench100free.woff);
}
body {
	font-family: trench100;
	text-align: center;
	margin: 0px;
	background: #ffffff;
	color: #000000;
}
#header {
	text-align: center;
	background: linear-gradient(white, white, white);
	background-repeat
}
#navbar {
	background: linear-gradient(to right, #007FFF, #007FFF, #007FFF);
	color: #007FFF;
}
#navbar a {
	text-decoration: none;
	color: #ffffff;
	padding: 8px;
}
#navbar li {
	display: inline-block;
	padding: 8px;
}
#navbar a:hover {
	background-color: rgba(204, 232, 255, 0.5);
	color: #ffffff;
	border-radius: 4px;
}
#navbar a:active {
	background-color: r
}
#body {
	background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
	color: #000000;
}
#body a {
	color: #000000;
	text-decoration: none;
}
#body a:hover {
	color: #ccffcc;
	text-decoration: underline;
}
#current a, #current a:hover, #current a:active {
	background-color: #cce8ff;
	color: #00688B;
	border-radius: 4px;
}
.content {
	text-align: left;
	margin-left: 20%;
	margin-right: 20%
}
#twitter {
	text-align: center;
	background: linear-gradient(#0EBFE9, #0EBFE9, #0EBFE9);
	background-repeat
}
#dreambnc {
	text-align: center;
	background: linear-gradient(#236B8E, #236B8E, #236B8E);
	background-repeat
}
#github {
	text-align: center;
	background: linear-gradient(#CDAD00, #CDAD00, #CDAD00);
	background-repeat
}
#wbot {
	text-align: center;
	background: linear-gradient(#68228B, #68228B, #68228B);
	background-repeat
}
#website {
	text-align: center;
	background: linear-gradient(#8FD8D8, #8FD8D8, #8FD8D8);
	background-repeat
}
#posts {
	font-family: timeburnernormal.woff;
	text-align: left;
	margin: 0px;
	background: #ffffff;
	color: #000000;
}
@font-face {
	font-family: timeburner;
	src: url(timeburnernormal.woff);
}
